* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #fa8072;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    height: 45px;
}

nav {
    display: flex;
    gap: 8px;
}

a {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 4px;
    border-radius: 4px;
}

.task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.task-card {
    width: 300px;
    background-color: #323232;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.5);
}

.task-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.task-options {
    display: flex;
    gap: 8px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    margin: 8px;
    width: 300px;
    padding: 8px;
    background-color: #323232;
    border-radius: 4px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.5)
}

input {
    height: 28px;
    width: 250px;
    border: none;
    border-radius: 4px;
}

textarea {
    width: 250px;
    border: none;
    border-radius: 4px;
}

button {
    height: 30px;
    min-width: 150px;
    border: 2px solid #fa8072;
    border-radius: 4px;
    background-color: transparent;
    color: #fa8072;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6, p, span, div {
    color: white;
}

body {
    background-color: #232323;
}

button:hover {
    background-color: #fa8072;
    color: white;
}

@media (max-width: 750px) {
    header {
        background-color: orange;
    }
}